<script>
	import Menu from "../src";
	import Folder from "./ui/Tree/Folder.svelte";
	let data = undefined;
	let menu_url = `https://decoupled-menus.jsonapi.dev/system/menu/main/linkset`;

	/**
	 * Fetch them menu.
	 */
	async function fetchMenuDataFromDrupal() {
		console.log(`Fetching : ` + menu_url);
		const res = await fetch(menu_url);
		const text = await res.json();
		if (res.ok) {
			return text;
		} else {
			throw new Error(text);
		}
	}
	function handleSubmit() {
		data = fetchMenuDataFromDrupal();
	}
</script>
<style>
.wrapper {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin: auto;
	max-width: 1000px;
	min-width: 300px;
	border: 3px solid white;
	padding: 10px;
}
.wrapper .code {
	font-family: Courier New;
	background: lightyellow;
	padding: 10px;
	color: brown;
}
form {
	padding: 20px;
	border: 1px solid grey;
	margin: 5px 0;
}
form > div {
	margin: 10px 0;
}
input {
	width: 100%;
	margin: 5px 0 10px 0;
}
.output-wrapper .section {
	border: 1px solid grey;
	margin: 10px 0;
	padding: 20px;
}

</style>
<div class="wrapper">
	<h1>Example : Drupal svelte component menu</h1>
	<h2>STEP 1: Establish connection</h2>
	<p>Use the following form to establish connection with Drupal backend.</p>
	<div class="form-wrapper">
		<form on:submit={handleSubmit}>
			<div class="form-input">
				<label for="menu_url">Api endpoint</label>
				<input
				id="menu_url"
				name="menu_url"
				type="text"
				bind:value={menu_url}
				on:change={handleSubmit}
				on:submit={handleSubmit}
			/>
			</div>
			<div class="form-submit">
				<button type="button" on:click={handleSubmit}> Fetch </button>
			</div>
		</form>
	</div>
	<h2>STEP 2: Output</h2>

	
		<div class="output-wrapper">
			<div class="section">
			<h3>Default</h3>
			<p>Pass the data retrieved from a menu endpoint to the component.</p>
<pre class="code">
{`
<script>
import Menu from "drupal_svelte_component_menu";
let data = fetchMenuDataFromDrupal();
</script>

<Menu {data} />
`}
</pre>
			<div class="output-normal">
			{#await data}
				<p>...loading</p>
			{:then data}
				<Menu {data} />
			{:catch error}
				<p style="color: red">{error.message}</p>
			{/await}
			</div>
			</div>
			<div class="section">

			<h3>Pass url instead of data</h3>
			<p>Following examples shows how you can pass url to of the endpoint to generate the menu. </p>
<pre class="code">
{`
<script>
import Menu from "drupal_svelte_component_menu";
let url = 'https://decoupled-menus.jsonapi.dev/system/menu/main/linkset';
</script>

<Menu {url} />
`}
</pre>
			<div class="output-normal">
				<Menu url={menu_url} />
			</div>
			</div>
			<div class="section">
			<h3>With overridden ui component (Svelte)</h3>
<pre class="code">
{`
<script>
import Menu from "drupal_svelte_component_menu";
import Folder from "./ui/Tree/Folder.svelte";
let data = fetchMenuDataFromDrupal();
</script>

<Menu {data} ui={Folder}/>
`}
</pre>
			<div class="output-themed">
				{#await data}
					<p>...loading</p>
				{:then data}
					<Menu {data} ui={Folder} />
				{:catch error}
					<p style="color: red">{error.message}</p>
				{/await}
			</div>
			</div>
		</div>
	
</div>
