<script>
	
	import Folder from '../../ui/Tree/Folder.svelte';
	import { checkIfDrupalMenuDataIsValid, normalizeListItems, convertFlatListItemsToTree } from './menu';
	export let data;
	export let ui;
	export let name;
	let files = [];

	$: if (checkIfDrupalMenuDataIsValid(data)) {
	  const list = normalizeListItems(data);
	  files = convertFlatListItemsToTree(list);
	}
	
</script>
{#if ui === undefined}
	<Folder {files} expanded {name} />
{:else}
	<svelte:component this={ui} {files} {name} />
{/if}