<script>
	import File from './File.svelte';
	import Label from './Label.svelte';
	
	export let expanded = true;
	export let name;
	export let link = '';
	export let files;

	function toggle () {
	  expanded = !expanded;
	}
</script>
{#if name !== undefined }
<span class:expanded on:click={toggle}></span>
<Label name={name} link={link}></Label>
{/if}
{#if expanded}
	<ul>
		{#each files as file}
			<li>
				{#if file.files.length > 0 }
					<svelte:self name={file.name} link={file.href} files={file.files} />
				{:else}
					<File name={file.name} link={file.href} />
				{/if}
			</li>
		{/each}
	</ul>
{/if}