<script>
    import Menu from './components/drupal/menu/Menu.svelte';

    export let url;
    export let data;
    export let ui;
    export let name;

    /**
     * Fetch them menu.
     */
    async function fetchMenuDataFromDrupal (url) {
      const res = await fetch(url);
      const text = await res.json();
      if (res.ok) {
        return text;
      } else {
        throw new Error(text);
      }
    }
    $: if (url) {
      data = fetchMenuDataFromDrupal(url);
    }
</script>
<svelte:options tag="drupal-svelte-component-menu" immutable={true} />
{#await data then data}
<Menu {data} {ui} {name} />
{/await}